.head {
  display: flex;
  width: 100%;
  justify-content: center;
}
.head .head_main {
  width: 80vw;
}
.head .head_main ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.head .head_main ul li {
  width: 80px;
  height: 7vh;
  line-height: 7vh;
  color: #0c78cf;
}
.head_then {
  background-color: #0e5895;
}
.head_then .content {
  margin-left: 15vw;
  color: aliceblue;
  font-weight: bold;
  height: 6vh;
  font-size: larger;
  line-height: 6vh;
}
.img_banner {
  display: flex;
}
.img_banner .main {
  width: 80vw;
  height: 60vh;
}
.img_banner .left {
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.img_banner .left .list {
  width: 20vw;
  height: 40vh;
}
.img_banner .left .list1 {
  width: 20vw;
  height: 20vh;
}
h2,
h1 {
  margin: 3vh 0;
  text-align: center;
  font-weight: bolder;
}
.info {
  height: 40vh;
  background-color: #F8F8F9;
  margin: 1vh;
  display: flex;
  justify-content: center;
}
.info .main {
  width: 60vw;
  display: flex;
}
.info .main .left {
  padding: 3vh;
}
.info .main .left .title {
  margin-bottom: 1vh;
  font-size: 30px;
  font-weight: 600;
}
.info .main .left .iom {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info .main .left .con {
  margin-top: 4vh;
  font-size: 15px;
  line-height: 30px;
}
.info .main .right img {
  width: 30vw;
  height: 40vh;
}
.data_pro {
  display: flex;
  width: 60vw;
  margin: auto;
  padding-bottom: 2vh;
  justify-content: space-between;
}
.data_pro li img {
  height: 27vh;
  width: 15vw;
  border-radius: 5px;
}
.data_pro li .bottom {
  margin-top: 1vh;
  width: 15vw;
}
.data_pro li .bottom span {
  font-weight: bold;
}
.fuc_pro {
  width: 60vw;
  margin: auto;
  padding-bottom: 2vh;
}
.fuc_pro .font,
.fuc_pro .back {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}
.fuc_pro .font li img,
.fuc_pro .back li img {
  height: 20vh;
  width: 15vw;
  border-radius: 5px;
}
.fuc_pro .font li .bottom,
.fuc_pro .back li .bottom {
  margin: 2vh 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.body_bottom {
  height: 20vh;
  background-color: #0e5895;
  color: #F8F8F9;
}
.body_bottom .info_bottom {
  margin: 3vh auto;
  height: 8vh;
  display: flex;
  width: 60vw;
  margin: auto;
}
.body_bottom .info_bottom .text {
  align-items: center;
  margin-top: 3vh;
}
.body_bottom .info_bottom .text img {
  width: 2vw;
  height: 3vh;
  vertical-align: middle;
}
.body_bottom .info_intro {
  width: 60vw;
  margin: auto;
  margin-top: 8vh;
  font-size: small;
}
