@maincolor:#0e5895;
@lightcolor:#0c78cf;
@headheight:7vh;

.head {
    display: flex;
    width: 100%;
    justify-content: center;
    .head_main{
        width: 80vw;
        ul{
            display: flex;
            width: 500px;
            justify-content: space-between;
            li{
                width: 80px;
                height: @headheight;
                line-height: @headheight;
                color:  @lightcolor;
            }
        }
   }
}

.head_then{
    background-color: @maincolor;
  
    .content{
        margin-left:15vw;
        color: aliceblue;
        font-weight: bold;
        height: 6vh;
        font-size: larger;
        line-height: 6vh;
    }
}

.img_banner{
    display: flex;
  
    .main{
        width: 80vw;
        height: 60vh;
    }
    .left{
        width: 20vw;
        display:flex;
        flex-direction: column;
        .list{
            width: 20vw;
            height: 40vh;
        }
        .list1{
            width: 20vw;
            height: 20vh;
        }
    }
}
h2,h1{
    margin: 3vh 0;
    text-align: center;
    font-weight:bolder;
}

.info{
    height: 40vh;
    background-color: #F8F8F9;
    margin: 1vh;
    display: flex;
    justify-content: center;
    .main{
        width: 60vw;
        display: flex;
        .left{
            padding: 3vh;
            .title{
                margin-bottom: 1vh;
                font-size: 30px;
                font-weight: 600;
            }
            .iom{
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
            }
            .con{
                margin-top: 4vh;
                font-size: 15px;
                line-height: 30px;
            }
        }
        .right{
            img{
                width: 30vw;
                height: 40vh;
            }
        }
    }
   
}

.data_pro{
    display: flex;
    width: 60vw;
    margin: auto;
    padding-bottom: 2vh;
    justify-content: space-between;
    li{
        img{
            height: 27vh;
            width: 15vw;
            border-radius:5px;
        }
        .bottom{
            margin-top: 1vh;
            width: 15vw;
            span{
                font-weight: bold;
            }
        }
    }
}

.fuc_pro{
    width: 60vw;
    margin:auto;
    padding-bottom: 2vh;
    .font,.back{
        display: flex;
        width: 60vw;
        justify-content: space-between;
        li{
            img{
                height: 20vh;
                width: 15vw;
                border-radius:5px;
            }
            .bottom{
                margin: 2vh 0;
                text-align: center;
                font-size: large;
                font-weight: bold;
            }
        }
    }
    
}
.body_bottom{
    height: 20vh;
    background-color: @maincolor;
    color: #F8F8F9;
    .info_bottom{
        margin: 3vh auto;
        height: 8vh;
        display: flex;
        width: 60vw;
        margin: auto;
        // img{
        //     width: 6vw;
        //     height: 5vh;
        // }
        .text{
            align-items: center;
            margin-top: 3vh;
            img{
                width: 2vw;
                height: 3vh;
                vertical-align:middle;
            }
        }
    }
    .info_intro{
        width: 60vw;
        margin: auto;
        margin-top:8vh;
        font-size: small;
    }
}